# Unreal Engine
*.pdb
*.VC.db
*.sdf
*.suo
*.opensdf
*.opendb
*.VC.opendb
*.sln.docstates
*.sln.iml
*.orig
*.log
*.zip
*.mta
*.obj
*.ipch
*.objpaths
*.lock
*.dat
*.dll
*.exe
*.tlog
*.idb
*.lib
*.exp
*.ilk
*.aps
*.bin
*.vs
*.vscode
*.idea
.vs
.vscode
.idea
*.VC.db-shm
*.VC.db-wal
Saved/
Intermediate/
Binaries/
DerivedDataCache/
Build/
Script/
xcodeproj/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db